// Utilisation du décorateur @extend afin de bénéficier de l'héritage des classes

/* VARIABLES SCSS */
$primary-color: #8e6be1;
$secondary-color: #f3eeff;
$third-color: #ffc001;
$color-h1: #59448d;
$progress-bar-color: #a5a5a5;
$book-page-background-color: #364b90;
$third-opacite-color: rgba(255, 192, 1, 0.5);
$color-nav-bar: #fff;
$color-white: #fff;
$color-shadow-50: rgba(0, 0, 0, 0.5);
$color-shadow-25: rgba(0, 0, 0, 0.25);
$color-card: #fe7834;
$image-peter-pan: url("../img/peter-pan.jpg");

/* PARAMETRAGE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
a {
  text-decoration: none;
}

/* STYLES GLOBAUX */
.title-h1 {
  font-size: 1.5rem;
  font-weight: 300;
}

.title-h2 {
  font-size: 1.6875rem;
  font-weight: 600;
}

.title-h3 {
  font-size: 1.125rem;
  font-weight: 600;
}

.title-card {
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 4px;
}
.title-card-cover {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
}

.title-book {
  font-size: 1rem;
  font-weight: 600;
}

.p-card {
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.font-card {
  font-size: 1.1rem;
  font-weight: 700;
}
.p-button {
  font-size: 1.2rem;
  font-weight: 400;
}

/* BUTTON */

.button-nav-header {
  display: flex;
  height: 54px;
  padding: 12px 15px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  text-align: center;
  border: none;
  text-decoration: none;
  display: none;
  color: $primary-color;
  background-color: transparent;
}
.button-nav-header-login {
  display: flex;
  height: 47px;
  padding: 12px 15px;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  color: $color-white;
  border: none;
  background-color: $primary-color;
  display: none;
}

/* NAV BAR */
.nav-bar {
  z-index: 90000;
  background-color: $color-nav-bar;
  box-shadow: 0px -4px 7px $color-shadow-25;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 97px;
  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    height: inherit;
    .logo {
      display: flex;
      align-items: center;
      gap: 10px;
      h1 {
        display: none;
        color: $color-h1;
      }
    }

    .nav-bar-item-container {
      display: flex;

      .nav-bar-item {
        background-color: #9ba3bc;
        display: flex;
      }
    }
  }
}

/* SECTION */
.search {
  position: absolute;
  top: 0;
  right: 0;
  padding: 3%;
}

.sections-container {
  display: flex;
  flex-direction: column;
  gap: 9px;
  position: relative;
  padding: 4%;
  padding-top: 6%;
  .section {
    width: 100%;
    margin: auto;
    .card-container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 20px;
      overflow-x: hidden; /* Cache la scrollbar horizontale */
      overflow-x: auto;
      padding: 20px 0;

      .card {
        flex: 0 0 30%;
        background-color: #fff;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        box-sizing: border-box;
        min-width: 367px;
        background-color: $primary-color;
        color: $color-white;
        box-shadow: -1px 8px 8px 0px rgba(151, 71, 255, 0.41);
        &.card-size {
          height: 187px;
          min-height: 187px;
        }
        &:nth-child(even):not(.card-category) {
          background-color: $color-card;
        }
        .group-card {
          display: flex;
          align-items: center;
          .text-card {
            display: flex;
            flex-direction: column;
            gap: 10px;
          }
        }
      }

      .card-category {
        @extend .card;
        height: 147px !important;
        background-color: $secondary-color;
        color: $primary-color;
        .group-card {
          gap: 38px;
        }
      }

      .card-book-small {
        display: flex;
        width: 127px;
        height: 199px;
        padding-bottom: 20px;
        flex-direction: column;
        align-items: center;
        .group-card {
          width: 127px;
          gap: 15px;
          .text-card {
            display: flex;
            align-items: center;
            flex-direction: column-reverse;
            div {
              width: 120px;
              img {
                width: 100%;
                max-height: 147px;
              }
            }
          }
        }
      }
    }
  }
}

/* Elément HTML caché pour la sémentique */
.hidden {
  display: none;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #f3eeff;
  height: 60vh;
  position: relative;
  z-index: 1;
  background-image: $image-peter-pan;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: $image-peter-pan;
  background-size: cover;
  filter: blur(8px);
  z-index: 1;
}
.hero .icon-close {
  display: flex;
  justify-content: flex-end;
  z-index: 2;
  margin: 0 20px 5px 0;
}
.hero .image-cover {
  position: relative;
  z-index: 2;
  height: 25vh;
  width: 100%;
}
.hero .info-hero-block {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 3;
  padding: 40px 0 6px 25px;
}
.hero .info-hero-block .title-h1 {
  margin: 0;
  font-weight: bold;
}
.hero .info-hero-block .info-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 15px 0 5px 0;
}
.hero .info-hero-block .info-header .title-h2 {
  padding-bottom: 10px;
}
.hero .info-hero-block .info-header .icon-header {
  display: flex;
  align-items: center;
  padding: 35px 15px 0 0;
}
.hero .info-hero-block .info-header .icon-header img {
  width: 35px;
}

.section-book-reading {
  padding: 20px 20px 0 20px;
  position: relative;
  z-index: 1;
  color: #f3eeff;
  background-color: #364b90;
}
.section-book-reading p {
  margin: 0;
}
.section-book-reading .link-book-page {
  justify-content: center;
  position: relative;
  z-index: 2;
  bottom: 100px;
  display: flex;
  align-items: center;
  padding: 0 20px 0 20px;
  gap: 20px;
}
.section-book-reading .link-book-page .read {
  background-color: #ffc001;
  width: 150px;
  padding: 15px;
  border-radius: 35px;
  text-align: center;
  font-weight: bold;
  font-size: 1.4rem;
}

/* MEDIA QUERRY */

@media (min-width: 768px) {
  .nav-bar {
    display: contents;
    box-shadow: 0px 4px 4px $color-shadow-25;
    top: 0;
  }
  .button-nav-header,
  .button-nav-header-login {
    display: none;
  }
}
@media (min-width: 1023px) {
  .logo {
    h1 {
      display: initial !important;
    }
  }
  .icon-mobile {
    display: none;
  }

  .button-nav-header,
  .button-nav-header-login {
    display: flex;
  }
}
