// Utilisation du décorateur @extend afin de bénéficier de l'héritage des classes

/* VARIABLES SCSS */
$primary-color: #8e6be1;
$secondary-color: #f3eeff;
$third-color: #ffc001;
$progress-bar-color: #a5a5a5;
$book-page-background-color: #364b90;
$third-opacite-color: rgba(255, 192, 1, 0.5);
$color-nav-bar: #fff;
$color-white: #fff;
$color-shadow-50: rgba(0, 0, 0, 0.5);
$color-shadow-25: rgba(0, 0, 0, 0.25);
$color-card: #fe7834;

/* PARAMETRAGE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
a {
  text-decoration: none;
}

/* STYLES GLOBAUX */
.title-h1 {
  font-size: 2rem;
  font-weight: 300;
}

.title-h2 {
  font-size: 1.6875rem;
  font-weight: 600;
}

.title-h3 {
  font-size: 1.125rem;
  font-weight: 600;
}

.title-card {
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 4px;
}
.title-card-cover {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
}

.title-book {
  font-size: 1rem;
  font-weight: 600;
}

.p-card {
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.font-card {
  font-size: 1.1rem;
  font-weight: 700;
}
.p-button {
  font-size: 1.2rem;
  font-weight: 400;
}

.button-nav-header {
  display: flex;
  height: 54px;
  padding: 12px 15px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  text-align: center;
  border: none;
  text-decoration: none;
  color: $primary-color;
  background-color: transparent;
  display: none;
}

.border-primary-card {
  box-shadow: 0px 4px 4px black;
}

/* NAV BAR */
.nav-bar {
  z-index: 90000;
  background-color: $color-nav-bar;
  box-shadow: 0px -4px 7px $color-shadow-25;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 97px;

  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    height: inherit;
    .logo {
      object-fit: cover;
    }

    .nav-bar-item-container {
      display: flex;

      .nav-bar-item {
        background-color: #9ba3bc;
      }
    }
  }
}

/* SECTION */
.search {
  position: absolute;
  top: 0;
  right: 0;
  padding: 3%;
}

.sections-container {
  display: flex;
  flex-direction: column;
  gap: 9px;
  position: relative;
  padding: 4%;
  padding-top: 6%;
  .section {
    width: 100%;
    .card-container {
      width: 100%;
      display: flex;
      gap: 20px;
      overflow-x: auto;
      scroll-behavior: smooth;
      padding: 20px 0;

      .card {
        flex: 0 0 30%;
        background-color: #fff;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        box-sizing: border-box;
        min-width: 367px;
        background-color: $primary-color;
        color: $color-white;
        box-shadow: -1px 8px 8px 0px rgba(151, 71, 255, 0.41);
        &.card-size {
          height: 187px;
          min-height: 187px;
        }
        .group-card {
          display: flex;
          align-items: center;
          .text-card {
            display: flex;
            flex-direction: column;
            gap: 10px;
          }
        }
      }

      .card-category {
        @extend .card;
        height: 147px !important;
        background-color: $secondary-color;
        color: $primary-color;
        .group-card {
          gap: 38px;
        }
      }

      .card-book-small {
        display: flex;
        width: 127px;
        height: 199px;
        padding-bottom: 20px;
        flex-direction: column;
        align-items: center;
        .group-card {
          width: 127px;
          gap: 15px;
          .text-card {
            display: flex;
            align-items: center;
            flex-direction: column-reverse;
            div {
              width: 120px;
              img {
                width: 100%;
                max-height: 147px;
              }
            }
          }
        }
      }
    }
  }
}

.section .card-container .card:nth-child(even) {
  background-color: $color-card;
}

/* MEDIA QUERRY */

@media (min-width: 768px) {
  .nav-bar {
    display: contents;
    box-shadow: 0px 4px 4px $color-shadow-25;
    top: 0;
  }
  .button-nav-header {
    display: none;
  }
}
@media (min-width: 1023px) {
  .icon-mobile {
    display: none;
  }
  .button-nav-header {
    display: contents;
  }
}
