$primary-color: #8e6be1;
$secondary-color: #f3eeff;
$third-color: #ffc001;
$color-h1: #59448d;
$progress-bar-color: #a5a5a5;
$book-page-background-color: #364b90;
$third-opacite-color: rgba(255, 192, 1, 0.5);
$background-card-book: rgba(255, 255, 255, 1);
$color-nav-bar: #fff;
$color-white: #fff;
$color-shadow-50: rgba(0, 0, 0, 0.5);
$color-shadow-25: rgba(0, 0, 0, 0.25);
$color-shadow: rgb(0 0 0 / 8%);
$color-card: #fe7834;
$color-filter-math: #2799e5;
$color-filter-art: #c9225b;
$color-filter-science: #a5b525;

/* STYLES GLOBAUX */
.title-h1 {
  font-size: 1.5rem;
  font-weight: 300;
}

.title-h2 {
  font-size: 1.6875rem;
  font-weight: 600;
  cursor: pointer;
}

.title-h3 {
  font-size: 1.125rem;
  font-weight: 600;
  color: $color-h1;
}

.title-card {
  font-size: 1.8rem;
  font-weight: 600;
}
.title-card-mobile {
  font-size: 1.4rem;
  font-weight: 600;
}
.title-card-cover {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
}

.title-book {
  font-size: 1rem;
  font-weight: 600;
}

.p-card {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.font-card {
  font-size: 1.1rem;
  font-weight: 700;
}
.p-button {
  font-size: 1.2rem;
  font-weight: 400;
}
